.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to communes_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					= link_to @commune, class: 'btn btn-primary' do
						%span.glyphicon.glyphicon-info-sign
						Ver
					%h1 Editando commune

				= render 'form'
