.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to communes_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					= link_to edit_commune_path(@commune), class: 'btn btn-primary' do
						%span.glyphicon.glyphicon-pencil
						Editar
					%h1 Viendo commune

				%dl.dl-horizontal
					%dt Name:
					%dd= @commune.name
