.jumbotron
	%h2 Bienvenido
	%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius illo ab nesciunt veniam quis. Minus eaque debitis, suscipit ratione beatae hic totam animi, illum sed error fuga ut nemo at.



.row 
	.col-md-3
		.panel.panel-info
			.panel-heading
				.row
					.col-xs-6
						%i.fa.fa-user.fa-5x
					.col-xs-6.text-right
						%p.announcement-heading
							=@proveedores
						%p.announcement-text
							Proveedores
			%a{:href => suppliers_path()}
				.panel-footer.announcement-bottom
					.row
						.col-xs-6
							Ir a
						.col-xs-6.text-right
							%i.fa.fa-arrow-circle-right
	.col-md-3
		.panel.panel-success
			.panel-heading
				.row
					.col-xs-6
						%i.fa.fa-barcode.fa-5x
					.col-xs-6.text-right
						%p.announcement-heading
							= @articulos
						%p.announcement-text
							Artículos
			%a{:href => articles_path()}
				.panel-footer.announcement-bottom
					.row
						.col-xs-6
							Ir a
						.col-xs-6.text-right
							%i.fa.fa-arrow-circle-right
	.col-md-3
		.panel.panel-warning
			.panel-heading
				.row
					.col-xs-6
						%i.fa.fa-search.fa-5x
					.col-xs-6.text-right
						%p.announcement-heading
							=@articulos
						%p.announcement-text
							Buscador
			%a{:href => "#"}
				.panel-footer.announcement-bottom
					.row
						.col-xs-6
							Ir a
						.col-xs-6.text-right
							%i.fa.fa-arrow-circle-right
	.col-md-3
		.panel.panel-danger
			.panel-heading
				.row
					.col-xs-6
						%i.fa.fa-calculator.fa-5x
					.col-xs-6.text-right
						%p.announcement-heading
							&nbsp;
						%p.announcement-text
							Math
			%a{:href => "#"}
				.panel-footer.announcement-bottom
					.row
						.col-xs-6
							View
						.col-xs-6.text-right
							%i.fa.fa-arrow-circle-right
					 