.jumbotron
	%h2 Bienvenido
	%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius illo ab nesciunt veniam quis. Minus eaque debitis, suscipit ratione beatae hic totam animi, illum sed error fuga ut nemo at.