.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to purchase_path(@purchase_detail.purchase_id), class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					%h1 Editando detalle de compra

				= render 'form'
