.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to purchase_details_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					= link_to @purchase_detail, class: 'btn btn-primary' do
						%span.glyphicon.glyphicon-info-sign
						Ver
					%h1 Editando purchase_detail

				= render 'form'
