.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas viendo el tipo de formato:
		%strong
			= @type_format.name
.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to type_formats_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					= link_to edit_type_format_path(@type_format), class: 'btn btn-primary' do
						%span.glyphicon.glyphicon-pencil
						Editar
					%h1 Viendo tipo de formato

				%dl.dl-horizontal
					%dt Nombre:
					%dd= @type_format.name
