.page-header
  = link_to type_formats_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Volver
  = link_to edit_type_format_path(@type_format), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Editar
  %h1 Ver type_format

%dl.dl-horizontal
  %dt Name:
  %dd= @type_format.name
