.page-header
  = link_to type_vehicles_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Volver
  = link_to @type_vehicle, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Ver
  %h1 Editando tipo de vehículos

= render 'form'
