.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas creando:
		%strong
			Tipo de vehículo
.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to type_vehicles_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					%h1 Nuevo tipo de vehículos

				= render 'form'
