.page-header
  = link_to type_vehicles_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_type_vehicle_path(@type_vehicle), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show type_vehicle

%dl.dl-horizontal
  %dt Name:
  %dd= @type_vehicle.name
