.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas viendo tipo de vehículo:
		%strong
			= @type_vehicle.name
.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to type_vehicles_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					= link_to edit_type_vehicle_path(@type_vehicle), class: 'btn btn-primary' do
						%span.glyphicon.glyphicon-pencil
						Editar
					%h1 Viendo tipo de vehículo

				%dl.dl-horizontal
					%dt Nombre:
					%dd= @type_vehicle.name
