.page-header
  = link_to payment_methods_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Volver
  = link_to @payment_method, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Ver
  %h1 Editando formas de pago

= render 'form'
