.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas creando: 
		%strong
			Forma de pago
.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to payment_methods_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					%h1 Nueva forma de pago

				= render 'form'
