.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas viendo: 
		%strong
			= @payment_method.name
.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to payment_methods_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					= link_to edit_payment_method_path(@payment_method), class: 'btn btn-primary' do
						%span.glyphicon.glyphicon-pencil
						Editar
					%h1 Viendo forma de pago

				%dl.dl-horizontal
					%dt Nombre:
					%dd= @payment_method.name
