.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to articles_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					%h1 Nuevo artículo
				= form_for @article, html: { class: "form-horizontal", role: "form", multipart: true } do |f|
					= render partial: 'articles/form', locals: { f: f }
