.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas creando:
		%strong
			Estado
.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to states_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					%h1 Nuevo estado
				= form_for @state, html: { class: "form-horizontal", role: "form" } do |f|
					= render partial: 'states/form', locals: { f: f }
