.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to states_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					= link_to edit_state_path(@state), class: 'btn btn-primary' do
						%span.glyphicon.glyphicon-pencil
						Editar
					%h1 Ver state

				%dl.dl-horizontal
					%dt Name:
					%dd= @state.name
