.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas creando: 
		%strong
			Compra
.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to purchases_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					%h5 Generando nueva compra

				= render 'form'
