.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas creando: 
		%strong
			Compra
.row
	.col-md-12
		.panel
			.panel-body
				
				%h5 
					Paso Nº1
					%small
						Ingresando datos del documento de compra
				
				= render 'form'	
				

