.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to quotations_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					%h1 Nuevo quotation

				= render 'form'
