.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to type_documents_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					= link_to @type_document, class: 'btn btn-primary' do
						%span.glyphicon.glyphicon-info-sign
						Ver
					%h1 Editando tipo de docuemento

				= form_for @type_document, html: { class: "form-horizontal", role: "form" } do |f|
					= render partial: 'type_documents/form', locals: { f: f }
