.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas creando:
		%strong
			Tipo de documento
.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to type_documents_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					%h1 Nuevo tipo de documento
				= form_for @type_document, html: { class: "form-horizontal", role: "form" } do |f|
					= render partial: 'type_documents/form', locals: { f: f }
