.table-responsive {
    overflow-x: inherit;
    min-height: 0.01%;
}
thead {
    font-size: .8em;
}
.form-control{
	background-color: #f5f7fb;
    border: 1px solid #c5cee0;
}
.lighted {
    font-size: .9em;
    opacity: .6;
}
td.highlight {
    background: #e3f7ff;
}