.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to brands_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					= link_to edit_brand_path(@brand), class: 'btn btn-primary' do
						%span.glyphicon.glyphicon-pencil
						Editar
					%h1 Viendo marca

				%dl.dl-horizontal
					%dt Nombre:
					%dd= @brand.name
