%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar"}, aria: {expanded: "false", controls: "navbar"} }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Repuestos Catalán", root_path(), class: "navbar-brand"
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: root_path()} Inicio
        %li
          %a{:href => articles_path()}
            Artículos
        %li.dropdown
          %a{:href => "#", :class=>"dropdown-toggle", "data-toggle"=>"dropdown", :role=>"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
            Otros 
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => type_vehicles_path()}
                Tipos de Vehículos
            %li
              %a{:href => type_articles_path()}
                Familias de Artículos
            %li
              %a{:href => type_formats_path()}
                Tipos de Formatos
            %li
              %a{:href => payment_methods_path()}
                Formas de Pago