.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas editando el tipo de artículo:
		%strong
			= @type_article.name
.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to type_articles_path, class: 'btn btn-default' do
					%span.glyphicon.glyphicon-list-alt
					Volver
					= link_to @type_article, class: 'btn btn-primary' do
					%span.glyphicon.glyphicon-info-sign
					Ver
					%h1 Editando familia de artículos

				= render 'form'
